/* e-Learning-css-start */
.fotr,
.single_footer ul li a:hover,
.url {
  text-decoration: none;
}
.pints,
.scroll-top {
  cursor: pointer;
}
body {
  margin: 0;
}
.menu,
.mobile {
  display: none;
}

.contactsmenu{
font-size: 20px;
font-weight: 700;
background-color: #ffb905;
color: #004743;
border-radius: 50px;
width: 100%;
border: none;
}
.arrow,
.dropdown {
  display: inline-block;
}
.arvr {
  text-align: end;
}
.input-group-text {
  font-size: 18px;
}
/* @media only screen and (min-width: 1400px) {
  .container {
    max-width: 1380px !important;
  }
} */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #ffb905;
}
::-webkit-scrollbar-thumb {
  background: #005a2b;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffb905;
}
.wrapper {
  border: 1px solid #000;
  height: calc(100vh - 2px);
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: calc(100vw - 2.55px);
}
.scroll-top {
  background: #ffb905;
  border: 0;
  border-radius: 50%;
  bottom: 0;
  height: 50px;
  margin: 15px;
  position: fixed;
  right: -70px;
  transition: right 0.2s ease-in-out;
  width: 50px;
  z-index: 99;
}
.dropbtn,
.nav-items a,
.nav-items span {
  margin-right: 20px;
  margin-bottom: 0;
  font-weight: 500;
}
.scroll-top.visible {
  right: 0;
}
.arrow {
  border: solid #000;
  border-width: 0 3px 3px 0;
  margin-top: 20px;
  margin-left: 20px;
  padding: 4px;
}
.arrow.up {
  transform: rotate(-135deg);
}
.skillss_para {
  font-size: 17px !important;
  color: #484848;
  text-align: justify;
}
.dropbtn,
.nav-items a,
select {
  font-size: 16px;
}
.dropbtn,
.dropdown-content a,
.nav-items a,
.nav-items span {
  color: #fff;
  text-decoration: none;
}
.nav-items span {
  font-size: 16px;
  cursor: pointer;
}
.nav-items {
  border-bottom: 1px solid #fff;
}
.dropbtn {
  border: none;
  background: 0 0;
}
.Diversitysection,
.boarding_section,
.compliancesection,
.customerssection,
.productsection {
  border: 1px solid transparent;
  padding: 2rem;
  width: 100%;
}
.digital,
.dropdown-content a:hover,
.homebutton,
.mking,
.mrket,
.title {
  color: #004743;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffb905;
  min-width: 300px;
  z-index: 1;
}
.topbar,
.topbars {
  background: linear-gradient(105deg, #ffb905, #ffb905);
}
.dropdown-content a {
  font-weight: 700;
  padding: 12px 16px;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.mking {
  font-size: 15px !important;
  font-weight: 500;
}
.topbars {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}
.baner {
  background-color: #004743 !important;
}
.Bussinesssection_image,
.Bussinesssection_images,
.Bussinesssection_img,
.Bussinesssection_imgs,
.Bussinesssection_imgsa,
.case-image,
.custom-image,
.toy {
  width: 100%;
}
.text-main {
    color: #ffb905;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.content-traning,
.improvement,
.performance {
  line-height: 1.6 !important;
}
.mt-10 {
  margin-top: 6rem !important;
}
.mt-11 {
  margin-top: 3rem !important;
}
.mt-12 {
  margin-top: 4.9rem;
}
.text-business {
  color: #004743;
  font-size: 50px;
  margin-top: -12px;
  font-weight: 700 !important;
}
.upskilss {
  font-size: 28px !important;
  color: #004743;
  font-weight: 700;
}
.performance,
.you {
  font-size: 18px;
  font-weight: 500;
}
.boarding_section {
  background-color: #004743;
  color: #fff;
  border-radius: 55px;
}
.compliancesection {
  border-radius: 55px;
  background-color: #ffb905;
  color: #004743;
}
.Diversitysection,
.customerssection,
.productsection {
  background-color: #004743;
  color: #fff;
  border-radius: 55px;
}
.salesection {
  border: 1px solid transparent;
  border-radius: 55px;
  padding: 2rem;
  background-color: #ffb905;
  color: #004743;
  width: 100%;
}
.employee {
  font-size: 27px;
  font-weight: 700;
}
.youremploye {
  text-align: left;
  height: 200px;
  font-size: 15px;
  font-weight: 500;
}
.Downloadbutton,
.Downloadnowbutton,
.modalbutton,
.url,
.viewlearn_btn {
  font-size: 21px;
  font-weight: 700 !important;
  cursor: pointer;
}
.url {
  background-color: #004743;
  padding: 12px;
  align-items: center;
  justify-content: center;
  color: #ffb905;
  width: 80%;
  border: 1px solid #004743;
}
.viewlearn_btn {
  background-color: #ffb905;
  border-radius: 25px;
  padding: 13px;
  color: #004743;
  width: 50%;
  border: 1px solid #ffb905;
}
.Downloadbutton,
.Downloadnowbutton {
  border-radius: 25px;
  padding: 13px;
  color: #004743;
}
.Downloadbutton {
  background-color: #ffb905;
  align-items: center;
  justify-content: center;
  width: 31%;
  border: 1px solid #ffb905;
}
.Downloadnowbutton,
select,
select option {
  background-color: #fff;
}
.Downloadnowbutton {
  width: 30%;
  border: 1px solid #ffb905;
}
.modalbutton {
  background-color: #004743;
  border-radius: 25px;
  padding: 12px;
  align-items: center;
  justify-content: center;
  color: #ffb905;
  width: 80%;
  border: 1px solid #ffb905;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  outline: 0;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}
select:focus {
  border-color: #ffb905;
  box-shadow: 0 0 5px #ffb905;
}
select option {
  color: #333;
}
select option:checked {
  background-color: #ffb905;
  color: #000;
}
.purposewaper {
  background-color: #004743 !important;
  padding: 0 0 48px;
}
.purposebased {
  font-size: 28px !important;
  color: #fff;
  font-weight: 500;
}
.inititave {
  color: #ffb905;
  font-size: 50px;
  font-weight: 700 !important;
}
.improvement {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.product-traning {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 30px !important;
  border: 1px solid #fff;
}
.yourproduct {
  text-align: left;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}
.training_section {
  border: 1px solid #fff;
  padding: 2rem;
  background-color: transparent;
  width: 100%;
  height: 600px;
  border-radius: 80px;
}
.Bussinesssection_im {
  width: 200px;
}
.logoproduct {
  width: 75px;
}
.prductcenter {
  display: flex;
  align-items: center;
  justify-content: end;
}
.content_section {
  border: 1px solid #fff;
  background-color: transparent;
  height: 100%;
}
.case-head,
.content-learning {
  font-size: 28px !important;
  color: #004743;
  font-weight: 500;
}
.content-development {
  color: #004743;
  font-size: 50px;
  font-weight: 700 !important;
}
.content-traning {
  font-size: 18px;
  font-weight: 500;
  color: #004743;
}
.custom-paragraph {
  text-align: left;
  font-size: 16px;
  color: #004743;
  font-weight: 500;
}
.custom-content {
  font-size: 32px;
  font-weight: 700;
  color: #004743;
}
.caseewaper {
  background-color: #ffb905 !important;
  padding: 0 0 45px;
}
.case-para {
  font-size: 50px;
  font-weight: 700 !important;
  color: #004743;
}
.casesection {
  padding: 2rem;
  background-color: #004743;
  width: 100%;
  height: 500px;
  position: relative;
}
.onbords-section {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.onbrd-section {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.lrn,
.single_footer ul li p {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}
.fotr {
  color: #fff;
}
.footer {
  background: linear-gradient(105deg, #004743, #004743);
  padding-top: 80px;
  padding-bottom: 80px;
}
.single_footer h4 {
  color: #fff !important;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.contact_social ul,
.single_footer ul,
.social_profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.copyright a:hover,
.single_footer {
  color: #fff;
}
.ss {
  border-right: 1px solid #fff;
  height: 220px;
}
.sidebr {
  border-right: 1px solid #004743;
  height: 15px;
}
.ssas {
  font-size: 28px !important;
}
.single_footer ul li p {
  line-height: 16px;
  cursor: pointer;
}
.single_footer_address ul li span {
  font-weight: 800;
  color: #fff;
  line-height: 28px;
}
.social_profile {
  margin-top: 40px;
}
.social_profile ul li {
  float: left;
}
.social_profile ul li a {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  transition: 0.3s;
  margin: 0 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
}
@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }
  .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.social_profile ul li a:hover {
  background: #fff;
  border: 0;
  color: #000;
}
.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #000;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}
.copyright a {
  color: #000;
  transition: 0.2s;
}
label {
  padding: 0 !important;
  font-weight: 700;
  font-size: 18px !important;
}
.Downloadcase {
  background-color: #ffb905;
  padding: 15px;
  border-radius: 0;
}
.title {
  font-weight: 900;
  font-size: 22px !important;
}
.fa-circle-play,
.fa-download,
.fa-file-arrow-down,
.fa-house,
.fa-power-off {
  font-size: 25px;
}
.casestdyform input {
  border: none;
  line-height: 34px;
}
.fa-power-off {
  transform: rotate(270deg);
}
.digital,
.info {
  font-size: 18px;
  font-weight: 700;
}
.sbbtn {
  font-weight: 700;
  width: 30%;
}
.thnqyou {
  height: 230px;
}
.thnqyoubnner {
  height: 479px;
}
.mrket {
  font-size: 26px;
  font-weight: 700 !important;
}
.homebutton {
  background-color: #ffb905;
  border-radius: 25px;
  padding: 13px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 21px;
  font-weight: 900 !important;
  width: 40%;
  border: 1px solid #ffb905;
}
.carniva {
  font-size: 45px;
  font-weight: 700;
}
.contact-info-content p,
.offset-header {
  color: #004743;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {

  .carniva,
  .custom-content,
  .digital,
  .nav-mobile a {
    font-weight: 700;
  }
  .prductcenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .offset-header {
    font-size: 11px !important;
  }
 
  .menu,
  .mobile {
    display: block;
  }
  .ss {
    border: none;
  }
  .Bussinesssection_im {
    width: 150px;
  }
  .logoproduct {
    height: 70px;
  }
  .btn-close-white {
    filter: invert(1);
  }
  .training_section {
    height: fit-content;
    width: 100%;
    margin-top: 26px;
  }
  .employeeupskil {
    margin-top: 22px;
  }
  .nav-mobile a {
    text-decoration: none !important;
    margin-right: 0;
    font-size: 22px;
    margin-bottom: 0;
    line-height: 70px;
    text-align: center !important;
    justify-content: center;
    color: #fff;
  }
  .offcanvas {
    background-color: #004743;
  }
  .contatc {
    width: 100%;
    margin-left: -2px !important;
  }
  .btn-close {
    color: #fff !important;
  }
  .unorder {
    list-style-type: none;
    padding: 0;
  }
  .text-main {
    color: #ffb905;
    font-size: 30px !important;
    line-height: 40px;
  }
  .mt-10 {
    margin-top: 4rem !important;
  }
  .mt-11 {
    margin-top: -4rem !important;
  }
  .menu {
    font-size: 30px;
    margin-top: -12px;
  }
  .performance {
    font-size: 14px !important;
  }
  .bords,
  .viewlearn_btn {
    width: 100% !important;
  }
  .employee {
    font-size: 30px;
    margin-top: 0 !important;
  }
  .youremploye {
    font-size: 13px;
    padding: 1px;
    margin-top: 1rem !important;
    height: 237px;
  }
  .Diversitysection,
  .boarding_section,
  .compliancesection,
  .customerssection,
  .productsection,
  .salesection {
    height: fit-content;
    border-radius: 10%;
    padding: 30px;
    width: fit-content !important;
  }
  .case-head,
  .purposebased,
  .upskilss {
    font-size: 18px !important;
  }
  .improvement {
    font-size: 14px;
    text-align: justify;
  }
  .case-para,
  .inititave,
  .text-business {
    font-size: 30px !important;
  }
  .product-traning {
    font-size: 20px !important;
  }
  .custom-paragraph,
  .yourproduct {
    font-size: 12px;
    margin-top: 1rem !important;
  }
  .custom-content {
    font-size: 30px;
    color: #004743;
  }
  .content-learning {
    font-size: 18px !important;
    color: #004743;
  }
  .content-development {
    color: #004743;
    font-size: 30px;
    margin-top: 1rem !important;
  }
  .content-traning {
    font-size: 14px;
    text-align: justify;
    color: #004743;
  }
  .digital,
  .fa-download {
    font-size: 18px;
  }
  .boarding_section {
    margin-top: -25px;
  }
  .compliancesection,
  .customerssection,
  .salesection {
    margin-top: 25px;
  }
  .Diversitysection {
    margin-top: 1px;
  }
  .productsection {
    margin-top: 19px;
  }
  .Bussinesssection_image,
  .Bussinesssection_imgs {
    margin-top: -8rem !important;
    width: 100% !important;
  }
  .Bussinesssection_imgsa {
    margin-top: -7rem !important;
    width: 100% !important;
  }
  .Bussinesssection_images {
    margin-top: -6rem;
  }
  .Bussinesssection_img {
    width: 100%;
    margin-top: -6rem;
  }
  .Downloadbutton {
    width: 100% !important;
    font-size: 18px;
    margin-top: -1px !important;
  }
  .thnqyou {
    width: 180px;
    height: 180px;
  }
  .thnqyoubnner {
    height: 280px;
  }
  .digital {
    color: #004743;
  }
  .carniva {
    font-size: 35px;
  }
  .mrket,
  .single_footer h4 {
    font-size: 20px;
  }
  .homebutton,
  .mrket {
    color: #004743;
    font-weight: 700 !important;
  }
  .homebutton {
    background-color: #ffb905;
    border-radius: 25px;
    padding: 13px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ffb905;
  }
  .casesection {
    margin-top: -1px !important;
    height: fit-content;
  }
  .onbrd-section {
    font-size: 25px !important;
  }
  .lrn,
  .onbords-section,
  .single_footer ul li p {
    font-size: 16px !important;
  }
  .Downloadnowbutton {
    width: 100% !important;
    margin-top: 8rem;
  }
  .case-image {
    margin-top: 30px !important;
  }
  .footer {
    background: linear-gradient(105deg, #004743, #004743);
    padding-top: 50px;
    padding-bottom: 0;
  }
  .single_footer {
    margin-top: 31px !important;
  }
  .logo {
    width: 180px;
  }
}
@media screen and (min-width: 1920px) and (min-height: 1080px) {
  .Bussinesssection_img,
  .Bussinesssection_imgs,
  .Bussinesssection_imgsa {
    width: 100%;
  }
  .youremploye {
    margin-top: 2rem !important;
  }
  .Diversitysection,
  .boarding_section,
  .compliancesection,
  .customerssection,
  .productsection,
  .salesection {
    height: 100% !important;
  }
  .onbords-section {
    font-size: 16px !important;
  }
  .Bussinesssection_image {
    width: 100%;
    margin-top: 2px !important;
  }
}
@media screen and (min-width: 1440px) and (min-height: 900px) {
  .Bussinesssection_img,
  .Bussinesssection_imgs,
  .Bussinesssection_imgsa {
    width: 100%;
  }
  .Diversitysection,
  .boarding_section,
  .compliancesection,
  .customerssection,
  .productsection,
  .salesection {
    height: 100% !important;
  }
  .youremploye {
    height: 230px !important;
  }
  .onbords-section {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 1366px) and (min-height: 1024px) {
  .casesection {
    height: 500px;
  }
  .training_section {
    height: 575px;
  }
  .product-traning,
  .youremploye,
  .yourproduct {
    font-size: 15px;
  }
  .text-main {
    font-size: 40px;
  }
  .Bussinesssection_image {
    width: 100%;
    margin-top: -37px;
  }
}
@media screen and (min-width: 1366px) and (min-height: 768px) {
  .employee {
    font-size: 27px;
    font-weight: 700;
  }
  .onbords-section,
  .yourproduct {
    text-align: left;
    font-weight: 500;
    color: #fff;
  }
  .yourproduct {
    font-size: 15px;
  }
  .training_section {
    border: 1px solid #fff;
    padding: 2rem;
    background-color: transparent;
    width: 100%;
    height: 600px;
    border-radius: 80px;
  }
  .onbords-section {
    font-size: 13px;
  }
}
.bnnr {
  height: 30vh;
}
.carnivas {
  font-size: 40px !important;
  font-weight: 700;
}
.contactbuttonpage {
  background-color: #004743;
  border-radius: 25px;
  border: none;
  padding: 12px;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-size: 21px;
  font-weight: 700 !important;
  width: 50%;
}

.contact-info {
  width: 50%;
}
.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}
.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #ffb905;
  text-align: center;
  border-radius: 50%;
}
.contact-info-icon i {
  font-size: 30px;
  color: #004743;
  line-height: 70px;
}
.contact-info-content {
  margin-left: 20px;
}
.contact-info-content h4 {
  color: #004743;
  font-size: 1.4em;
  margin-bottom: 5px;
}
.contact-form {
  background-color: #fff;
  padding: 1px 30px 20px;
  width: 45%;
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: 0;
  resize: none;
}
.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contact-form .input-box input[type="submit"] {
  width: 50%;
  background: #004743;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .contact-info {
    margin-bottom: 20px;
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
}


/* e-Learning-css-end */
/* learning-solution */

.top-bar{
    background: linear-gradient(105deg, #ffb905, #ffb905);
}
.working-work{
    margin-top: 10px;
}
.contact{
    font-size: 18px;
    font-weight: 700;
    background-color: #ffb905;
    color: #004743;
    font-family: poppins !important;
    padding: 6px 2em 8px 2em;
    border-radius: 8px;
    border: none;
}
.nav-items span {
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}
.items span {
    color: #fff;
    text-decoration: none;
}
.nav-items a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;

}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-img{
    width: 100%;
    margin-bottom:7%;
}
.banner {
    background-color: #004743 !important;
}
.text-main{
    
    color: #ffb905;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.Innoviative-solutions{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6 !important;
    color: #fff;
}
.download-button{
    background-color: #ffb905;
    border-radius: 25px;
    padding: 13px;
    color: #004743;
    width: 40%;
    border: 1px solid #ffb905;

}
.screen{
    margin-top:10%;
    
}
.start-strong{
  
  color: #004743;
    /* color: yellow; */
    font-size: 50px;
    margin-top: -12px;
    font-weight: 700 !important;
}
.start-strong-imgs{
    width: 100%;
}
.start-strong-paragraph{
    color: #fff;
    padding-left: 15px;
    text-align: left;
    height: 200px;
    font-size: 15px;
    font-weight: 500;
    width: 90%;
}

.start-strong-paragraphs{
  color: #004743;

  padding-left: 15px;
  text-align: left;
  height: 200px;
  font-size: 15px;
  font-weight: 500;
  width: 90%;
}
.start-strong-headings{
  color: #fff;

    margin-left: 20px;
    font-size: 27px;
    font-weight: 700;
    align-items: left;
    text-align: left;
}
.start-strong-heading{
  color: #004743;

    margin-left: 20px;
    font-size: 27px;
    font-weight: 700;
    align-items: left;
    text-align: left;
}
.warm-welcome{
    background-color: orange;
    margin-top: -1px;
    height: 50%;
    border-radius: 0% 0% 50% 0%;
}
.warm-welcome1{
    background-color: #004743;
    margin-top: -1px;
    height: 50%;
    color: #fff;
    border-radius: 0% 0% 50% 0%;
}
.download-btn{
    background-color: orange;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 31%;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 13px;
    color: #004743;
    font-weight: 500;
}
.learning-carnival-img{
    width: 100%;
}
.your-paragraphs{
  color: #004743;

    text-align: left;
    font-size: 15px;
    font-weight: 500;
}
.your-paragraphs-last-sec{
    text-align: left;
    color:#fff;
    font-size: 15px;
    font-weight: 500;
}
.your-heading{
  color: #004743;

    font-weight: 500;
    text-transform: uppercase;
}
.beyond-heading{
    color: #004743;
    font-size: 28px !important;
    font-weight: 500;
}
.beyond-heading-1st{
    font-size: 50px;
    font-weight: 700 !important;

}
.exciting-journey{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6 !important;
}
.beyond-orientation{
    background-color:orange !important;
    
}
.beyond-orientation-imgs{
    width: 100%;

}
.beyond-download-btn{
    background-color:  #004743;
    align-items: center;
    justify-content: center;
    border: 1px solid  #004743;
    border-radius: 25px;
    width: 31%;
    padding: 13px;
    color: #fff;
    font-weight: 500;

}
.welcome-kit{
    font-weight: 700;
    font-size: 18px;
    color: #004743;

}
.empower-logos{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.empower-percentage{
    font-size: 105px;
    font-weight: 700;
    margin-left: 65px;
    color: #004743;
}
.empower-engage-excel-contents3{
    padding: 0%;
    background-color: #004743;
    border-radius: 0% 0% 5% 5%;
    height: 19rem;
}
.large-clients{
  color: #004743;

    font-size: 40px;
    font-weight: 700;
}
.empower{
    font-size: 28px !important;
   
    font-weight: 700;
}
.empower-engage-excel{
    color: #004743;
    font-size: 50px;
    margin-top: -12px;
    font-weight: 700 !important;

}
.empower-ibg-color{
    background-color: #004743;
    border-radius: 55% 55% 0% 0%;
}
.empower-img{
    width: 100%;   
}

.empower-engage-excel-contents{
    padding: 0%;
    background-color: #004743;
    border-radius: 0% 0% 5% 5%;

}
.empower-engage-excel-content{
    padding: 0%;
    background-color: orange;
    border-radius: 0% 0% 5% 5%;

}
.empower-engage-excel-headings{
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    text-align: left;
}
.empower-engage-excel-paragraph{
    color: #fff;    
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    width: 90%;

}
.empower-bg-color{
    background-color:orange;
    border-radius: 55% 55% 0% 0%;
}
.empower-engage-excel-heading{
    color:#004743;
    font-size: 27px;
    font-weight: 700;
    text-align: left;
}
.empower-engage-excel-para{
    color: #004743;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    width: 90%;

}
.empower-imgs{
    width: 100%;   

}
.frame-para{
    font-size: 15px;
    font-weight: 700 ;

}
.contact-us-img{
    width: 25px;
    height: 30px;
}
.contact-download-btn{
    background-color: #ffb905;
    border-radius: 25px;
    padding: 13px;
    color: #004743;
    width: 31%;
    border: 1px solid #ffb905;
    font-size: 18px;
    font-weight: 700;
}
.contact-button{
  margin-top: 100px;
}
.roadmap-img{
  width: 85%;
  margin-left: 30px;
  position: relative;
  top: 70px;
}
.roadmap-para{
  padding-top: 100px;

}
.roadmap-div{
  
  background-color: #ffb905;
  width: 100%;
  height: 60%;
  border-radius: 45px;


}
.roadmap-para3{
    color: #fff;

  text-align: left;
  font-size: 15px;
  font-weight: 500;
  width: 90%;
  margin-left: 20px;
}
.roadmap-para{
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
}
.roadmap-head{
  color: #004743;
  font-size: 27px;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
  padding-top: 100px;
}
.roadmap-para1{
  color: #004743;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    width: 90%;
    margin-left: 20px;
}
.roadmap-div1{
  
  background-color: #004743;
  width: 100%;
  height: 60%;
  border-radius: 45px;
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  text-align: left;

}

.frame-image{
    background-image: url("./elearning-Data-WebP/Empower-Engage-Excel/learning-carnival-onboarding-frame.webp");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
    margin-top: 15%;

}
.trust-platforom{
    height: 100%;
    width: 91%;
    padding-top: 15%;
    padding-left: 10%;  
}
.beyond-theory-img{
    width: 100%;
    padding-top:20%;

}
.beyond-section{
    background-color:#004743 ;

}
.Beyond-theory{
    padding-top: 50px;
    margin-top: 5%;
    font-size: xxx-large;
    color:#ffb905 ;
    font-size: 50px;
    font-weight: 700 !important;
}
.e-Learning-Success-Stories{
    font-size: 50px;
    font-weight: 500 !important;
    color: #fff;
}
.revolutionizing{
    padding-top: 15%;
    color: #ffb905;
    font-size: 27px;
    font-weight: 700;
}
.Challenge-content{
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}
.Challenge{
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}
.Challenges{
    color: #fff;
    width: 35%;
    font-size: 15px;
    font-weight: 500;
}
.percentage {
  color: #ffb905;
  margin-left: 18px;
  font-weight: 700;
  font-size: xxx-large;
}
.Downloadnowbutton1{
    background-color: #ffb905;
    align-items: center;
    justify-content: center;
    width: 31%;
    border: 1px solid #ffb905;
    border-radius: 25px;
    padding: 13px;
    color: #004743;
    font-size: 21px;
    font-weight: 700 !important;
}
.Downloadnowbutton2{
    background-color: #ffb905;
    display: block;
    margin-left: 18px;

    width: 45%;
    border: 1px solid #ffb905;
    border-radius: 25px;
    padding: 13px;
    color: #004743;
    font-size: 21px;
    font-weight: 700 !important;
}
.Downloadbutton2{
    background-color: #004743;
    align-items: center;
    justify-content: center;
    
    width: 31%;
    border: 1px solid #004743;
    border-radius: 25px;
    padding: 13px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700 !important;
}
.footer{
    border-top: 1px solid #fff;
}
@media screen and (max-width: 768px) {

  .nav-items{
   display: none ;
 }

 .Downloadnowbutton2 {
   
    width: 85% !important;
    margin-top: 115px;
    margin-bottom: 43px;
  
}

  .Downloadbutton2{
    width: 80%;
   }
   .contact-download-btn {
   
    width: 91%;
  
}
.center-button{
  width: 26rem;
  margin-left: -26px;
}
.empower-engage-excel-contents3 {

  height: 27rem;
}


.Downloadnowbutton1 {

  width: 91%;
  margin-top: 100px;

}
.start-strong-imgs {
  padding-top: 80px;
}
.award-change{
  height: 82%;
}
.frame-image {
  background-image: url(./elearning-Data-WebP/Empower-Engage-Excel/learning-carnival-onboarding-frame.webp);
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}
.trust-platforom {
  height: 100%;
  padding: 27px 34px;
  margin-left: 15px;

}
.frame-para {
  font-size: 9px;
  font-weight: 790;
} 
.image-center{
  margin-left: -23px;
}


} 
/* learning-solution-end */

/* <==========Shubham===========> */
.Mainbtn{
width: 55%;
}
.empower-award{
  width: 90%;
}
@media screen and (max-width: 768px) {
.Viewshubham{
width: 95%;
}
}

@media screen and (max-width: 768px) {
.prejoin_shubham {
padding-left: 8%;
}
}
@media screen and (max-width:768px){
  .start_shubham{
    text-align: center !important;
  }
  .start-strong{
    text-align: center !important;
  }
  
}


.beyond-orientation-imgs_rightdiv{
  padding-left: 15px;
}
.pt-l_shubham{
  padding-left: 35px;
}
.pt-r_shubham{
  padding-right: 35px;
}
.beyond-orientation-imgs_leftdiv{
 
  padding-right: 15px;
}

@media screen and (max-width:768px) {
  .pt-l_shubham{
    padding-left: 15px;
    padding-right: 15px;
  }
  .pt-r_shubham{
    padding-right: 15px;
    padding-left: 15px;
  }
  
}

.stay_strong_row{
  padding-top: 50px;
}
@media screen and (max-width:768px) {
  .stay_strong_row{
    padding-top: 0px;
  }
  .empower-logos{
    margin-top: 0%;
  }
  .beyond_shubham{
    padding-left: 15px;
  
  }
  .start-strong{
    font-size: 30px;
  }
  .performance{
    font-size: 13px;
  }
  .screenreverse{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0%;
  }
  .text-main{
    font-size: 30px !important;
   
    line-height: 1.1;
  }
  /* .Innoviative-solutions{
    padding-left: 15px;
  } */
  .weight18{
    font-size: 18px !important;
  }
  .weight30{
    font-size: 30px !important;
  }
  .weight15{
    font-size: 15px !important;
  }
  /* .Innoviative-solutions{
    padding-left: 2px;
  }
   .text-main{
    padding-left: 2px;
   } */
 
}


/* .start-strong{
  text-align: start;
} */



